name: DevOps Day CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
      - run: npm test
      
      - name: Build Docker Image
        run: docker build -t devops-lab:${{ github.sha }} .

      - name: Scan image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: devops-lab:${{ github.sha }}
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
          ignore-unfixed: true
